@import "~bootstrap/scss/bootstrap";

$mobile-breakpoint: 768px;
$primary-color: blueviolet;

body {
    background-color: black;
    overflow-x: hidden;
}

button{
    background-color: $primary-color !important;
    color: white !important;
}

a:hover {
    color: $primary-color;
  }

i{
    color: $primary-color;
}

button, a, .delete-topic-btn, .delete-post-btn{
    cursor: pointer;
}

.delete-topic-btn, .delete-post-btn{
    margin-left: 1em;
}

p, a{
    margin-top: 0em !important;
    margin-bottom: 0em !important;
}

h1, h2, p, a, .send-label{
    color: white;
}

/* Header */

#main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    button{
        background-color: $primary-color;
    }
    #connect-block{
        // display: flex; template
        width: 100%;
        justify-content: space-between;
        align-items: center;
        .connect-btn{
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
    }
    #user-block{
        // display: flex; template
        align-items: center;
        width: 100%;
        justify-content: space-between;
        #username-block{
            display: flex;
            align-items: center;
            .bi-person-fill{
                font-size: 2em;
            }
            #username{
                margin-left: 0.75em;
                font-size: 2em;
            }
        }
    }
    p{
        margin-bottom: 0;
        font-size: larger;
    }
}

@media (min-width: $mobile-breakpoint) {
    #connect-block{
        justify-content: right !important;
    }
}

/* Main */

main, #main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media (min-width: $mobile-breakpoint) {
    #main-container {
        width: 50%;
    }
}

#main-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    #title-container{
        display: flex;
        justify-content: center;
    }
}

#cat-page{
    width: 100%;
    padding: 1em;
    #cat-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        .cat-container {
            display: flex;
            flex-direction: column;
            border: solid;
            color: white;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            padding: 0.5em;
            .cat-title{
                font-size: 2em;
                margin-bottom: 0.5em;
            }
        }
    }
}

#topic-page {
    width: 100%;
    padding: 1em;
    #topic-list{
        display: flex;
        flex-direction: column;
        width: 100%;
        .topic-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border: solid;
            color: white;
            margin-bottom: 0.5em;
            padding: 0.5em;
            .topic-title{
                margin-left: 0.75em;
            }
            #topic-infos{
                display: flex;
                align-items: center;
            }
        }
    }
    #send-topic-block{
        // display: flex; js
        flex-direction: column;
    }
}

#post-page {
    flex-direction: column;
    width: 100%;
    padding: 1em;
    #post-list{
        display: flex;
        flex-direction: column;
        width: 100%;
        .post-container {
            display: flex;
            flex-direction: column;
            border: solid;
            color: white;
            margin-bottom: 0.5em;
            .post-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: lightslategray;
                padding: 0.5em;
            }
            .text-container {
                padding: 0.5em;
            }
        }
    }
    #send-post-block{
        // display: flex; js
        flex-direction: column;
    }
}

/* Footer */

footer{
    display: flex;
    justify-content: center;
}

/* Modals */
#bad-credentials, #bad-username, #bad-passwords{
    display: none;
    color: red;
}