<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Forum">
  <meta name="author" content="Yuyari SALAS">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Forumax{% endblock %}</title>
  {{ encore_entry_link_tags('app') }}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
</head>

<body>

  {# HEADER #}
  <header>
    <div>
      <img id="logo" src="{{ asset('logo.png') }}" alt="FORUMAX"/>
    </div>
    <nav id="main-nav">
      <div id="connect-block">
        <button id="signin-btn" class="btn connect-btn" data-bs-toggle="modal"
          data-bs-target="#sign-in">Connexion</button>
        <button id="signup-btn" class="btn connect-btn" data-bs-toggle="modal"
          data-bs-target="#sign-up">Inscription</button>
      </div>
      <div id="user-block">
        <div id="username-block">
          <i class="bi-person-fill"></i>
          <p id="username">{{ username }}</p>
        </div>
        <button id="logout-btn" class="btn">Deconnexion</button>
      </div>
    </nav>
  </header>

  {# MAIN #}
  <main>
    <div id="main-container">
      <div id="main-header">
        <div id="title-container">
          <h1 id="current-title">Bienvenue</h1>
        </div>
        <div id="top-bar">
          <button id="return-btn" class="btn">Retour</button>
        </div>
      </div>
      {# Liste des categories #}
      <div id="cat-page">
        <div id="cat-list">
          {% for cat in categories %}
          <div class="cat-container">
            <a class="cat-title" cat-id="{{cat.getId}}" cat-name="{{cat.getNom}}">{{cat.getNom}}</a>
            <p>{{cat.getDescription}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      {# Liste des sujets #}
      <div id="topic-page">
        <div id="topic-list"></div>
        <div id="send-topic-block" class="send-block">
          <label class="send-label">Titre :</label>
          <input id="send-topic-title"></input>
          <label class="send-label">Message :</label>
          <textarea id="send-topic-text"></textarea>
          <button id="submit-topic" class="btn mt-4">Envoyer</button>
        </div>
      </div>
      {# Liste des posts #}
      <div id="post-page">
        <div id="post-list"></div>
        <div id="send-post-block" class="send-block">
          <label class="send-label">Message :</label>
          <textarea id="send-post-text"></textarea>
          <button id="submit-post" class="btn mt-4">Envoyer</button>
        </div>
      </div>
    </div>
    </div>
  </main>

  {# FOOTER #}
  <footer>Yuyari SALAS - LP2 - IUT d'Orléans</footer>

  {# MODALS #}

  {# SIGN-IN MODAL #}
  <div id="sign-in" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Connexion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12" id="loginForm">
              <div class="pt-3">
                <div class="mb-2">
                  <label class="form-label">Pseudo</label>
                  <input id="sign-in-username" type="text" class="form-control" required="">
                </div>
                <div class="mb-2">
                  <label class="form-label">Mot de passe</label>
                  <input id="sign-in-password" type="password" class="form-control" required="">
                </div>
                <p id="bad-credentials">Erreur : identifiants inconnus</p>
                <button id="sign-in-submit" class="btn w-100 mt-2">Connexion</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# SIGN-UP MODAL #}

  <div id="sign-up" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Inscription</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12" id="signupForm">
              <div class="pt-3">
                <div class="mb-2">
                  <label class="form-label">Pseudo</label>
                  <input id="sign-up-username" type="text" class="form-control" required="">
                </div>
                <div class="mb-2">
                  <label class="form-label">Mot de passe</label>
                  <input id="sign-up-password" type="password" class="form-control" required="">
                </div>
                <div class="mb-2">
                  <label class="form-label">Confirmer mot de passe</label>
                  <input id="sign-up-password-2" type="password" class="form-control" required="">
                </div>
                <p id="bad-username">Erreur : ce pseudo est déjà prit !</p>
                <p id="bad-passwords">Erreur : les mots de passe ne correspondent pas !</p>
                <button id="sign-up-submit" class="btn w-100 mt-2">S'inscrire</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

{{ encore_entry_script_tags('app') }}

{# Variables d'utilisateurs pour les anonymes/membres/admins #}
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
  <style type="text/css">
    #connect-block{ 
      display: none;
    }
    #user-block{
      display: flex;
    }
    #send-topic-block {
      display: flex;
    }
    #send-post-block {
      display: flex;
    }
  </style>
  {% if is_granted('ROLE_USER') %}
    <script>
    let role = 'ROLE_USER';
    </script>
  {% elseif is_granted('ROLE_ADMIN') %}
    <script>
    let role = 'ROLE_ADMIN';
    </script>
  {% endif %}
{% else %}
  <style type="text/css">
    #connect-block{ 
      display: flex;
    }
    #user-block{
      display: none;
    }
    #send-topic-block {
      display: none;
    }
    #send-post-block {
      display: none;
    }
  </style>
  <script>
  let role = 'anonymous';
  </script>
{% endif %}

</html>